{% include "startindex.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/images/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">

                <div class="col-md-10 col-lg-8 col-xl-7">

                    {% for blog_post in post: %}
                    <div class="my-4">
                    <!-- Post preview-->
                        <div class="post-preview ">
                            <a href="{{ url_for('read_post', num=blog_post['id']-1) }}">
                                <h2>{{blog_post['title']}}</h2>
                                <p class="post-meta">{{blog_post['subtitle']}}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

{% include "footer.html" %}
